.spacerlarge{
    height: 70px;
}
.spacershort{
    height: 25px;
}
.spacerxlarge{
    height: 96px;
}
.colorYellow{
    background-color: #FFD15C;
}
.colorRed{
    background-color: #FF4C60;
}
.colorBlue{
    background-color: #6C6CE5;
}
.colorBlue2{
    background-color: #6C6CE5;
}
.colorYellow2{
    background-color: #F9D74C;
}
.colorRed2{
    background-color: #F97B8B;
}
