<div class="card-columns">
		<article class="card w-90" *ngFor="let post of posts">
			<div class="card-header">
				<h3>
				<a [routerLink]="['/entrada', post.id]">{{post.title}}</a>
				</h3>
			</div>
			<div class="card-body w-90 post-image">
				<!--imagen-->
			<div *ngIf='post.image' [routerLink]="['/entrada', post.id]">
				<img src="{{url + 'post/image/' + post.image}}">
			</div>
			<div *ngIf='!post.image'>
				<img src="https://via.placeholder.com/200">
			</div>
			<div class="post-buttons mt-3">
				<a [routerLink]="['/entrada', post.id]" class="btn btn-primary mr-2">Leer</a>
				<span *ngIf='identity && identity.sub == post.user_id'>
					<a [routerLink]="['/editar-entrada', post.id]" class="btn btn-success mr-2">Editar</a>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#myModal'+post.id">
					  Borrar
					</button>

					<!-- Modal -->
					<div class="modal fade" id="{{ 'myModal'+post.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Seguro quieres borrar esta entrada?</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        Vas a borrar definitivamente el post: {{post.title}}
					      </div>
					      <div class="modal-footer">
					        <a (click)="deletePost(post.id)" data-dismiss="modal" class="btn btn-danger mr-2">Borrar</a>
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					      </div>
					    </div>
					  </div>
					</div>

				</span>
				
			</div>
			    <!--botones de accion ricardo.reyesfrt@outlook.com ro15pk16-->
			</div>
		</article>
	</div>